.modal-backdrop {
  z-index: 99999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body {
  padding: 25px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}
.modal-button {
  width: 100px;
  height: 25px;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 14px;
  &:hover {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
  }
}