$font-size: 14px;
$border-radius: 10px;

.add-button {
  width: 100px;
  height: 25px;
  font-size: $font-size;
  border-radius: $border-radius;
  &:hover {
    background-color: rgb(219, 219, 219);
    cursor: pointer;
  }
}
.custom-input {
  height: 20px;
  width: 200px;
  border: 1px solid black;
  margin-right: 10px;
  border-radius: $border-radius;
  font-size: $font-size;
}
.input-error {
  color: red;
}